.banner {
    width: 415.4px;
  height: 118.9px;
  margin: 0 0px 25px 0;
  background-color: #ffffff;
}

#navigation{
    width: 52px;
    height: 24px;
    font-family: MenoBanner;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #c78283;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: left; 
    justify-content: space-around;
}

#navBar {
    display: flex;
  flex-direction: row;
  margin: 0px 5% 20px;
}

.name {
  height: 67px;
  font-family: MenoBanner;
  font-size: 55px;
  line-height: 1.22;
  text-align: left;
  color: #744253;
  grid-area: name ;
}

#main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "name name name rightSide";
  align-items: center;
}

.infoMini {
    width: 348px;
  height: 487px;
  margin: -30px 0px 0px 0px;
  border: solid 2px #c78283;
  background-color: #ffffff;

}

.miniInfo {
  height: 259px;
  font-family: DagnyPro-Exlig;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #744253;
  margin: -10px 35px 0px 35px;
}


.goldWashitape {
   margin: -25px 0px 0px 0px;
}

.rightSide {
  display: grid;
  align-items: center;
}